@let(buttonTextFromSlot = await $slots.main())
@let(buttonText = buttonTextFromSlot.trim() ? buttonTextFromSlot : $props.get('text') ?? '')
@let(classes = ['px-4 py-2 rounded-lg bg-zinc-800 hover:bg-yellow-400 hover:text-black text-white text-sm font-semibold transition-colors duration-150 cursor-pointer'])
<button {{
  $props.except(['text']).merge({ class: classes }).toAttrs()
}}>{{{ buttonText }}}</button>